 <!-- ******Bredcumb start****** -->
<!--<section id="breadcrumbs-all" class="">
  <div class="container">
      <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 breadcrumbs">
              <span class="active"><a href="#/dashboard/welcome"> dashboard </a></span>

              <span class="arrow-fwd" ng-if="parentBreadcrumb">&nbsp;&nbsp; &gt;&gt; &nbsp;&nbsp;</span>

              <span ng-if="parentBreadcrumb" class="active"> 
                <a ng-if="carousel != 'configuration'" href="#/dashboard/{{carousel}}/list" > {{parentBreadcrumb}} </a>
                <a ng-if="carousel == 'configuration'" href="#/dashboard/{{carousel}}/basic" > {{parentBreadcrumb}} </a> 
              </span>

              <span class="arrow-fwd" ng-if="breadcrumb">&nbsp;&nbsp; &gt;&gt; &nbsp;&nbsp;</span>
              <span> {{breadcrumb}} </span>
              
          </div>
      </div>
  </div>
</section>-->
<!-- ******Bredcumb END****** -->