<div class="container-fluid">
    <div class="right_main_wraper">
    <div class="row">

    <div class="col-md-4 col-xs-12 col-sm-6 dash_cont_box">
    <a href="#/dashboard/employee">
    <img src="assets/img/dashboard_boximg1.png">
    <span class="dash_itm_name">Manage Employee</span>
    </a>
    </div>


    <!--<div class="col-md-4 col-xs-12 col-sm-6 dash_cont_box">
    <a href="#">
    <img src="img/dashboard_boximg1.png">
    <span class="dash_itm_name">Manage Screen Data</span>
    </a>
    </div>
    <div class="col-md-4 col-xs-12 col-sm-6 dash_cont_box">
    <a href="#">
    <img src="img/dashboard_boximg1.png">
    <span class="dash_itm_name">Student</span>
    </a>
    </div>
    <div class="col-md-4 col-xs-12 col-sm-6 dash_cont_box">
    <a href="#">
    <img src="img/dashboard_boximg1.png">
    <span class="dash_itm_name">Student</span>
    </a>
    </div>
    <div class="col-md-4 col-xs-12 col-sm-6 dash_cont_box">
    <a href="#">
    <img src="img/dashboard_boximg1.png">
    <span class="dash_itm_name">Manage Inventory</span>
    </a>
    </div>
      <div class="col-md-4 col-xs-12 col-sm-6 dash_cont_box">
      <a href="#">
      <img src="img/dashboard_boximg1.png">
      <span class="dash_itm_name">Student</span>
      </a>
      </div>-->   

    </div>          
    </div>
    </div>