<div class="container-fluid main_mid_sec">

<!-- =================Left Section Start================= -->
    
     <div class="main_left_pannel">
      <div class="only_logo_posi"><!-- <a href="#"><img src="assets/img/logo_admin.png" alt="OPERATION BBQ RELIFE" title="OPERATION BBQ RELIFE"></a> --></div>


      <div class="left_panel_bar">
       <i class="fa fa-bars" aria-hidden="true"></i>
      </div>

   <dashboard-left-section></dashboard-left-section>

    </div>


<!-- =================Left Section End================= -->

<!-- =================Right Section Start================= -->
    <div class="main_right_pannel">
      <div class="right_top_bg clearafter">
     
     <dashboard-page-title></dashboard-page-title>
     <dashboard-header></dashboard-header>       
    </div>

    
    <!--Daynemic Right Section -->

    <!--<dashboard-right-section></dashboard-right-section>-->
     <div ui-view></div>
    <!--End Daynemic Right Section -->

<!-- =================Footer Section Start================= -->

<footer class="footer_posi">
<div class="container-fluid main_footer_bg">
Copyright © 2017
</div>
</footer>
<!-- =================Footer Section End================= -->  

    </div>

<!-- =================Right Section End================= -->    

</div>

  
