<!--<div class="main_right_pannel main_rbg_clr">
      <div class="right_top_bg clearafter">
        <ul class="top_right_ul animated slideInLeft">
          <li class="dropdown"><a id="dLabel" data-target="#" href="" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="usr_img"><img src="img/demo_usr_img.png" alt=""></span>Welcome, Admin<i class="fa fa-angle-right left_slider_btn" aria-hidden="true"></i></a>
            <ul class="dropdown-menu top_right_submenu animated swing" aria-labelledby="dLabel">
            <li><a href=""><img src="img/change_pass.png" alt=""> My Profile</a></li>
          </ul>
          </li>
          <li><a href=""><span class="only_for_img"><img src="img/top_msg_box.png" alt=""></span>Global Message</a></li>
          <li><a href=""><span class="only_for_img"><img src="img/top_log_out.png" alt=""></span>Logout</a></li>
        </ul>
    </div>-->

    <div class="container-fluid white_rbg_clr">
    <h2 class="main_page_heading">Update Products</h2>
    </div>

    <div class="main_right_cont_bg">

    <div class="container-fluid custom_padd_main">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
    
    <div class="row">
   
<div class="col-md-12">
<div id="login-alert" class="alert alert-danger col-sm-12" style="text-align:center; margin-top: 5px;" ng-if="errorMessage">{{errorMessage}}</div>

<div id="login-alert" class="alert alert-success col-sm-12"style="text-align:center; margin-top: 5px;" ng-if="successMessage">{{successMessage}} </div>
      <div class="back_to_item_list clearafter">
      <h3 class="frm_heding_txt">Update Products</h3><a href="#/dashboard/products/list" class="back_text"><i class="fa fa-angle-left" aria-hidden="true"></i>Back to  products list</a>
      </div>
      </div>
    </div>
        
        <form action="" class="creat_evnt_frm_fld" name="addproducts" role="form" 
        novalidate="" ng-submit="updateProductsDetail(productsDetail)">

        <div class="row">
          <div class="col-md-12"><div class="form-group"><input type="text" class="form-control" ng-model="productsDetail.product_name" placeholder="Products name" ></div></div>

         
           <div class="col-md-12"><div class="form-group"><select  class="form-control" ng-model ="productsDetail.category_name" ><option value="">Select Category</option>
           <option value="1">Laptops</option><option value="3">Cameras</option><option value="2">Mobiles</option></select></div></div>

          
         <div class="col-md-12"><div class="form-group"><input type="text" class="form-control" ng-model="productsDetail.product_price" placeholder="Products price" ></div></div>

          <!--<div class="col-md-12"><div class="form-group"><textarea class="form-control" placeholder="Employee Details" ng-model="employeeData.detail" rows="4"></textarea></div>
          </div>-->
          
         

          <!--<div class="col-md-6 custom_col_date_l"><div class="form-group has-feedback"><input type="text" class="form-control" placeholder="Event start date" aria-describedby="inputWarning2Status">
          <span class="glyphicon glyphicon-calendar form-control-feedback" aria-hidden="true"></span>
          </div></div>
          <div class="col-md-6 custom_col_date_r"><div class="form-group has-feedback"><input type="text" class="form-control" placeholder="Event end date" aria-describedby="inputWarning2Status">
          <span class="glyphicon glyphicon-calendar form-control-feedback" aria-hidden="true"></span>
          </div></div>

          <div class="col-md-12"><div class="form-group has-feedback"><input type="text" class="form-control" placeholder="Event Banner Image" aria-describedby="inputWarning2Status">
          <span class="img_upload_posi" aria-hidden="true"><label title="Submit" class="browser_img_btn">
              <input type="file" class="brwsr_input sr-only" id="exampleInputFile"></label></span>
          </div>
          <p class="img_upld_ins">[ Upload 1200px (width) X 675px (height) image in jpg, gif or png ]</p>
          </div>

          <div class="col-md-12"><div class="img_space"><img src="img/demo_upload_img.png" alt=""></div></div>

          <div class="col-md-12"><div class="form-group"><select class="form-control">
            <option selected="">Set location</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            </select></div></div>-->

            <div class="col-md-12"><div class="btn_cnterposi">
            <input type="submit" class="btn btn-default crtenewevent_sbmit_btn" value="update products">

           <!-- <button type="button" class="btn btn-default crtenewevent_sbmit_btn">create new events</button>-->

            </div>

            </div>

            
        </div>
        </form>        

      </div>
      </div>
      

    </div>

    </div>